<div class="modal fade" #modalElement tabindex="-1" aria-labelledby="cursoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Agregando Curso</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <!-- Campo para Nombre -->
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" id="nombre" class="form-control" #nombre>

                <!-- Campo para Duración en Horas -->
                <label for="duracionHoras" class="form-label">Duración en Horas</label>
                <input type="number" id="duracionHoras" class="form-control" #duracionHoras>

                <!-- Campo para Nivel -->
                <label for="nivel" class="form-label">Nivel</label>
                <input type="text" id="nivel" class="form-control" #nivel>

                <!-- Campo para Precio -->
                <label for="precio" class="form-label">Precio</label>
                <input type="number" id="precio" class="form-control" #precio>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" 
                        (click)="Agregar(nombre.value, duracionHoras.value, nivel.value, precio.value)">
                    Agregar
                </button>
            </div>
        </div>
    </div>
</div>
