<div
  class="modal fade"
  #modalElement
  tabindex="-1"
  aria-labelledby="pokemonModalLabel"
  aria-hidden="true"
  *ngIf="curso"
>
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5>{{ curso._id }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <label for="nombre" class="form-label">Nombre del curso</label>
        <input type="text" id="nombre" class="form-control" value="{{ curso.nombre }}" #nombre />

        <label for="duracionHoras" class="form-label">Duración (Horas)</label>
        <input type="number" id="duracionHoras" class="form-control" value="{{ curso.duracionHoras }}" #duracionHoras />

        <label for="nivel" class="form-label">Nivel</label>
        <input type="text" id="nivel" class="form-control" value="{{ curso.nivel }}" #nivel />

        <label for="precio" class="form-label">Precio</label>
        <input type="text" id="precio" class="form-control" value="{{ curso.precio }}" #precio />
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button
          type="button"
          class="btn btn-success"
          (click)="editarCurso(
            nombre.value,
            duracionHoras.value,
            nivel.value,
            precio.value,
            curso._id!
          )"
        >
          Editar
        </button>
      </div>
    </div>
  </div>
</div>
